{% extends "base_generic.html" %}

{% block title %}<title>Change password</title>{% endblock %}

{% block content %}
<div class="row mt-5">
  <div class="col-md-6 m-auto">
    <div class="card card-body">
      <h1 class="text-center mb-3">
          <i class="fas fa-key" aria-hidden="true"></i>  Change Password
      </h1>
<form action="" method="post">
    {% csrf_token %}
    {% if form.errors %}
    {% if form.errors.items|length == 1 %}<p>Please correct the error below.</p>{% else %}<p>Please correct the errors below.</p>{% endif %}
    {%  endif %}
    <p>Please enter your old password, for security’s reasons, and then enter your new password twice so we can verify you typed it in correctly.</p>
    {{ form.old_password1.errors }}
    <div class="form-group">
        <label for="{{ form.old_password.id_for_label }}" class="label">Old Password</label>
        <input type="text" class="form-control" id="{{ form.old_password.id_for_label }}" name="{{ form.old_password.html_name }}" placeholder="Enter current password" required>
    </div>
    {{ form.new_password1.errors }}
    <div class="form-group">
        <label for="{{ form.new_password1.id_for_label }}" class="label">New Password</label>
        <input type="text" class="form-control" id="{{ form.new_password1.id_for_label }}" name="{{ form.new_password1.html_name }}" placeholder="Enter new password" required>
    </div>
    {{ form.new_password2.errors }}
    <div class="form-group">
        <label for="{{ form.new_password2.id_for_label }}" class="label">Confirm Password</label>
        <input type="text" class="form-control" id="{{ form.new_password2.id_for_label }}" name="{{ form.new_password2.html_name }}" placeholder="Confirm your new password" required>
    </div>
    <button type="submit" class="btn btn-primary btn-block">Reset password</button>
</form>
    </div>
  </div>
</div>
{% endblock %}