{% extends "base_generic.html" %}

{% block title %}<title>Confirm new password</title>{% endblock %}

{% block content %}
 <div class="row mt-5">
    <div class="col-md-6 m-auto">
        <div class="card card-body">
    {% if validlink %}
        <h1 class="text-center mb-3">
          <i class="fas fa-key" aria-hidden="true"></i>  Reset Password
        </h1>
        <p>Please enter (and confirm) your new password.</p>
        <form action="" method="post">
            {% csrf_token %}
            {{ form.new_password1.errors }}
                <div class="form-group">
                <label for="{{ form.new_password1.id_for_label }}" class="label">New password:</label>
                <input type="password" class="form-control" id="{{ form.new_password1.id_for_label }}" name="{{ form.new_password1.html_name }}" placeholder="Enter new password" required>
                </div>
            {{ form.new_password2.errors }}
                <div class="form-group">
                <label for="{{ form.new_password2.id_for_label }}" class="label">Confirm password:</label>
                <input type="password" class="form-control" id="{{ form.new_password2.id_for_label }}" name="{{ form.new_password2.html_name }}" placeholder="Confirm your new password" required>
                </div>
            <button type="submit" class="btn btn-primary btn-block">Change my password</button>
        </form>
    {% else %}
        <h1 class="text-center mb-3">
          <i class="fas fa-user-times" aria-hidden="true"></i> Password reset failed
        </h1>
        <p>The password reset link was invalid, possibly because it has already been used. Please request a new password reset.</p>
    {% endif %}
        </div>
    </div>
 </div>
{% endblock %}