<!DOCTYPE html>
<html lang="en">
<head>
{% include "base_header.html" %}
    <title>{{ page_title }}</title>
</head>
<body>
    <div class="container">{% block content %}{% endblock %}</div>
    {% include "base_footer.html" %}{% load static %}
    <script type="text/javascript" src="{% static 'js/jquery-3.4.1.slim.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/popper.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>
</body>
</html>