{% extends 'base_generic.html' %}

{% block title %}<title>Your Characters</title>{% endblock %}

    {% block content %}
        <div class="row mt-5">
  <div class="col-md-6 m-auto">
    <div class="card card-body">
      <h1 class="text-center mb-3">
          <i class="fas fa-fist-raised" aria-hidden="true"></i>  Characters
      </h1>
        {% if user.character_set.count == 0 %}
            <p>You have no characters, why not create a new character?</p>
            <a href="{% url 'create_character' %}" class="btn btn-primary" role="button" title="Create a new character">Create a new character</a>
        {% else %}
            <p>Characters</p>
            {% for character in user.character_set.all %}
                <table>
                <tr>
                    <th scope="row">Name:</th><td>{{ character.name }}</td>
                </tr>
                <tr>
                    <th scope="row">Xp:</th><td>{{ character.xp }}</td>
                </tr>
                <tr>
                    <th scope="row">Belt:</th><td>{{ character.belt }}</td>
                </tr>
                <tr>
                    <th scope="row">Wins:</th><td headers="wins">{{ character.wins }}</td>
                </tr>
                <tr>
                    <th scope="row">Loses:</th><td>{{ character.loses }}</td>
                </tr>
                <tr>
                    <th scope="row">Draws:</th><td>{{ character.draws }}</td>
                </tr>
                </table>
            {% endfor %}
        {% endif %}
    </div>
  </div>
</div>
    {% endblock %}