{% extends 'base_generic.html' %}

{% block title %}<title>Create a new character</title>{% endblock %}

    {% block content %}
        <div class="row mt-5">
  <div class="col-md-6 m-auto">
    <div class="card card-body">
      <h1 class="text-center mb-3">
          <i class="fas fa-plus" aria-hidden="true"></i>  Create Character
      </h1>
    <form method="post">
    {% csrf_token %}
    {% if form.errors %}
    <div class="alert alert-primary" role="alert">
    {% if form.errors.items|length == 1 %}<p>Please correct the error below.</p>{% else %}<p>Please correct the errors below.</p>{% endif %}
    <ul>
    {% for error in form.name.errors %}
        <li>{{ error }}</li>
    {% endfor %}
    </ul>
    </div>
    {%  endif %}
    <div class="form-group">
    <label for="{{ form.name.id_for_label }}" class="label">Character name</label>
    <input type="text" class="form-control" aria-describedby="nameHelpBlock" id="{{ form.name.id_for_label }}" name="{{ form.name.html_name }}" maxlength="32" placeholder="Enter desired character name" autofocus required>
    <span id="nameHelpBlock" class="form-text text-muted">{{ form.name.help_text }}</span>
    </div>
    <button type="submit" class="btn btn-primary">Create character</button>
    </form>
    </div>
  </div>
</div>
    {% endblock %}